/* style.css */

.login-form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 80%;
    padding: 10px; /* Increase the padding for a bigger size */
    box-sizing: border-box;
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  button {
    background-color: #1299f3;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  