/* style.css */

.weather-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  button {
    background-color: #18ea22;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .weather-output {
    margin-top: 15px;
    font-size: 18px; /* Adjust the font size as needed */
  }
  